{{ define "main" }}
<main>
    <link rel="stylesheet" href="/list.css">

    <div class="list-container">
        {{ range .Pages }}
            <div class="list-item">
                <a class="list-item-link" href="{{.Permalink}}">{{.Title}}</a>

                <div class="list-item-date">
                    {{ .Date.Format "2006-01-02" }}
                </div>

                <div class="list-item-summary">
                    {{.Summary}}
                </div>
            </div>
        {{ end }}
    </div>
</main>
{{ end }}
