{{ define "main" }}
<main>
    <link rel="stylesheet" href="/list.css">

    <div class="list-container">
        <div class="list-details">
            {{ range .Pages }}
                <div class="list-details-item">
                    <a class="list-details-link" href="{{.Permalink}}">{{.Title}}</a>

                    <div class="list-details-date">
                        {{ .Date.Format "2006-01-02" }}
                    </div>

                    <div class="list-details-text">
                        {{.Content}}
                    </div>
                </div>
            {{ end }}
        </div>

        <div class="list-titles">
            {{ range .Pages }}
                <div class="list-titles-item">
                    <a class="list-titles-link" href="{{.Permalink}}">{{.Title}}</a>
                    <div class="list-titles-date">{{ .Date.Format "2006-01-02" }}</div>
                    <div class="list-titles-summary">{{.Summary}}</div>
                </div>
            {{ end }}
        </div>
    </div>
</main>
{{ end }}
